{% extends 'base.html' %}

{% block header %}
<div class="jumbotron">
  <div class="container">
    <h1 class="display-4">グノシーのニュースを分析します</h1>
    <p class="lead">Enter the URL</p>
  </div>
</div>
{% endblock header %}

{% block content %}
<div id="overlay">
  <div class="cv-spinner">
    <span class="spinner"></span>
  </div>
</div>
<div class="container">
  <form method='GET'>
    {% csrf_token %}
    <div class='form-group input-text'>
      {{ form }}
    </div>
    <input type="button" class="btn btn-info btn-lg" id="guess" value="取得する">
    <p>
    <div id="result" class='result-text'></div>
    </p>
  </form>
</div>
{% endblock content %}